{% extends "app/layout.html" %}

{% block content %}

<h2>{{ Empresa }}</h2>
<h3>{{ MegaTrons }}</h3>

<h3>Empresa MegaTrons.</h3>

<p>A MegaTrons é uma micro empresa situada na cidade de São Paulo.
  A empresa está instalada estrategicamente em uma área de 2.000 m² e deseja satisfazer a demanda
  crescente por seus produtos através da compra de equipamentos eletrônicos,
  custos mais baixos por unidade.</p>
<p>Presidente: Desenvolve e mantém a visão da empresa. Supervisiona o marketing, desenvolvimento de
  produto, produção e finanças, serviço aos consumidores etc. Aprova as obrigações financeiras. Procura
  novas oportunidades de negócios e alianças estratégicas com outras empresas. Planeja, desenvolve e
  estabelece políticas e objetivos do negócio em acordo com a diretoria. Dirige e coordena programas
  financeiros para prover fundos para novas operações no sentido de maximizar retorno sobre investimento
  e aumentar a produtividade.</p>
<p>Gerente de Marketing: Gerencia o planejamento de mercado, propaganda, relações públicas, promoção
  de vendas e Merchandising. Identifica novas oportunidades de mercado e avalia a concorrência. Identifica
  e estabelece estratégias para atingir mercados estrangeiros.</p>
<p>Gerente de Vendas: Dirige o staff, treina e avalia o desempenho para desenvolver e controlar o programa
  de vendas. Gerencia as vendas estabelecendo territórios, quotas e metas e se relacionam com
  distribuidores. Analisa estatísticas para formular políticas e assistir os revendedores nas promoções de
  vendas.</p>

<h3>Localização</h3>

<p>A MegaTrons está instalada em um prédio de 2.000m², localizado na Av. das Nações Unidas 2048, em São
Paulo. Este espaço foi escolhido pela facilidade de acesso, boas condições de segurança, baixo custo do
  m² e proximidade das fontes de suprimentos</p>

<h3>Seguro</h3>

<p>Seguro é uma consideração importante para qualquer tipo de negócio. A confiabilidade do produto é uma
consideração maior, especialmente em algumas indústrias. O setor de serviços preocupa-se com a
confiabilidade do seu pessoal, assegurando os bens do cliente durante o manuseio e o transporte de
  bens. No caso de serem utilizados veículos para o transporte, seu seguro deve refletir o uso.</p>



  

{% endblock %}
